{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container py-3">
		<div class="card mb-3 bg-dark text-white" >
		  <div class="row g-0">
		    <div class="col-md-10">
		      <div class="card-body bg-grey text-white">
                  <form action="{% url 'add_order' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit button" class="btn btn-outline-primary"> Додати замовлення </button>
                  </form>
		      </div>
		    </div>

		  </div>
		</div></div>


{% endblock %}
