{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container ">
  <div class="row g-0">
	  <div class="col"></div>
	  <div class="col">
		  <div class="card bg-dark text-white" >
			  <div class="card-body bg-grey text-white">
				  <form action="" method="POST">
					  {% csrf_token %}
					  {{ form.as_p }}
					  <button type="submit button" class="btn btn-outline-primary"> Зберегти </button>
				  </form>
			  </div>
		  </div>
	  </div>
			<div class="col"></div>
		  </div>

{% endblock %}